.card__details {
  padding: 20px;
}

.card__layout {
  display: flex;
  gap: 24px;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
}
.card__info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
mat-card-content {
  flex-grow: 1;
}
.card__favorite-notice {
  margin-top: 16px;
  padding: 12px;
  background-color: #fff0f3;
  color: #b71c1c;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
mat-card-actions {
  padding-bottom: 0;
}
