.empty-message {
  padding: 10px;
  opacity: 0.7;
  font-style: italic;
}
.card__input {
  margin-bottom: 20px;
}
.cards__list {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
  gap: 25px;
}
.cards__item {
  list-style: none;
  border: 1px solid lightblue;
  padding: 10px;
  margin-bottom: 10px;
}
.favorite {
  border-color: blue;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
mat-card-header {
  flex-grow: 1;
}
.search-field {
  width: 300px; // Або інша зручна ширина
}
